.my-orders{
    margin: 50px 50px;
}
.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 30px 50px;
}
*{
    font-family: "Poppins", sans-serif;
}
.my-orders-order button{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.my-orders-order button:hover{
    background-color: gray;
}