.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper .product-container{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.wrapper .product-container .left{
    width: 60%;
}
.wrapper .product-container .left h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.cart-items-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: auto;
}
.cart-items-item .image{
    width: 150px;
    height: auto;
    margin-top: 20px;
}
.cart-items-item .image img{
    width: 100%;
    height: 100%;
}
.cart-items-item .details{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 30px;
    width: 100%;
}
.cart-items-item .details img{
    width: 50px;
}
.cart-items-item .details .size-quantity{
    display: flex;
    gap: 100px;
}
.cart-items-item .image-details .price .images{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    gap: 20px;
}
.cart-items-item .image-details .price .images img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cart-items-item .details .details-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cart-items-item .details .details-details h1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.cart-items-item .details .details-details p{
    color: grey;
    font-family: "Poppins", sans-serif;
    
}
.details .price{
    width: 200px;
    text-align: end;
}
.details .price p{
    font-family: "Poppins";
    font-size: 23px;
    padding-right: 20px;
}
.cart-items-item .image-details{
    display: flex;
    width: 100%;
}
.wrapper .product-container .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .product-container .right h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: start;
    width: 90%;
}
.right .details{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.right .details .subtotal{
    display: flex;
    justify-content: space-between;
}
.right .details .subtotal p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.right .details .delivery{
    display: flex;
    justify-content: space-between;
}
.right .details .delivery p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.right .details .tax{
    display: flex;
    justify-content: space-between;
}
.right .details .tax p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.right .details .total{
    display: flex;
    justify-content: space-between;
}
.right .details .total p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.checkout-btn{
    width: 100%;
}
.checkout-btn button{
    background-color: black;
    color: white;
    font-family: "Montserat", sans-serif;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}
.checkout-btn button:hover{
    background-color: rgb(126, 126, 126);
}

@media (max-width: 900px) {
    .wrapper .product-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 10px;
    }
    .cart-items-item .image-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .cart-items-item .image-details .details{
        flex-direction: column;
    }
    .wrapper .product-container .left{
        width: 100%;
    }
    .wrapper .product-container .left .cart-items-item .image-details .image{
        width: 50%;
    }
    .image-details .details{
        width: 100%;
        margin-left: 0px;
    }
    .cart-items-item .details .size-quantity{
        justify-content: space-between;
        gap: 0;
    }
    .details .price{
        width: 100%;
        margin-top: 5px;
    }
    .cart-items-item .image-details .price .images{
        padding: 0;
        justify-content: start;
    }
    .details .price p{
        padding: 0;
        text-align: start;
    }
    .wrapper .product-container .right{
        width: 100%;
        margin-top: 30px;
    }
    .wrapper .product-container .right h1{
        width: 100%;
    }
    .right .details{
        width: 100%;
    }

}