.header-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-container .golf-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.header-container .golf-section .golf-section-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 5px;
}
.header-container .golf-section .golf-section-details p{
    font-family: "Montserat", sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.header-container .golf-section .golf-section-details h1{
    font-family: "Montserat", sans-serif;
    font-size: 78px;
    font-weight: 900;
    letter-spacing: -5px;
}
.header-container .golf-section .golf-section-details h2{
    font-family: "Montserat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(91, 91, 91);
}
.header-container .golf-section .golf-section-details button{
    margin-top: 30px;
    text-align: center;
    font-family: "Montserat", sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.header-container .golf-section .golf-section-details button:hover{
    background-color: rgb(119, 119, 119);
}
