.fav-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav-wrapper h1{
    margin-top: 50px;
    padding-left: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: start;
    width: 100%;
}
.fav-wrapper .fav-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav-container .items{
    margin: 40px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.add-remove{
    height: 50px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}
.add-remove img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.add-remove button{
    font-size: 16px;
    padding: 10px 12px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.add-remove button:hover{
    background-color: rgb(62, 62, 62);
}
.name-desc h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.name-desc p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: grey;
}
.fav-item-image{
    width: 100px;
}
.price p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

@media (max-width: 900px) {
    .fav-wrapper .fav-container{
        width: 100%;
    }
    .fav-container .items{
        padding: 0px 10px;
        margin-top: 20px;
    }
    .fav-wrapper h1{
        font-size: 20px;
    }
    .name-desc h2{
        font-size: 14px;
        padding-left: 10px;
    }
    .name-desc p{
        padding-left: 10px;
        font-size: 14px;
    }
    .price p{
        font-size: 14px;
        padding-left: 20px;
    }
    .add-remove button{
        font-size: 10px;
        margin-left: 20px;
    }
    .add-remove{
        gap: 10px;
        justify-content: space-between;
    }
}