.list{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.list-table{
    width: 80%;
}
.list-table-format{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.7fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.25fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    /* border: 1px solid #cacaca; */
    font-size: 13px;
}
.list-table-format .title{
    width: 100%;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.7fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.25fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format img{
    width: 100px;
}
.cursor{
    cursor: pointer;
}
.title-p{
    width: 80%;
    margin-bottom: 20px;
    font-size: 30px;
}

@media (max-width: 900px) {
    b{
        width: 100px;
    }
    .list-table-format{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 40%;
    }
    .list-table{
        display: flex;
        gap: 20%;
    }
    img{
        width: 100px;
    }
    .list-table-format p{
        width: 100px;
    }
    .title{
        display: none;
    }
}