.list{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.list-table{
    width: 80%;
}
.list-table-format{
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.7fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.25fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format .title{
    width: 100%;
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.7fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.25fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format img{
    width: 100px;
}
.cursor{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border: 6px solid #d2d2d2;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #949494;
}
::-webkit-scrollbar-thumb:active {
    background: #b12525;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 43px none #9b9b9b;
    border-radius: 31px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
