.shop-container{
    display: flex;
    width: 100%;
    justify-content: start;
}
.shop-container .shop-products{
    width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    gap: 40px;
}
.shop-container .shop-products h1{
    font-family: "Poppins", sans-serif;
    font-size: 26px;
}
.shop-container .shop-products .cart{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.list-items{
    width: 445px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.list-items img{
    width: 445px;
}
.list-items h1{
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}
.list-items h2{
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    color: rgb(152, 152, 152);
    font-size: 16px;
    font-weight: 500;
}
.list-items h3{
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    color: rgb(152, 152, 152);
    font-size: 16px;
    font-weight: 500;
}
.list-items p{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .shop-container .shop-products{
        padding: 10px;
    }
    .shop-container .shop-products h1{
        font-size: 20px;
    }
    .shop-container .shop-products .cart{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }
    .shop-container .shop-products .cart .list-items{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .list-items img{
        width: 100%;
    }
    .cart .list-items h1{
        font-size: 18px;
    }
}